@font-face {
  font-family: "Massilia";
  src: url("../fonts/Massilia-Medium-BF65ea8038d5375.otf") format("opentype");
}
body,
#root,
#root > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#header {
  width: 100%;
  display: flex;
  padding: 0 90px 0 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  width: 250px;
  height: 140px;
}

.nav-link {
  padding-top: 22px;
  color: var(--Moyen, #040039);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Massilia, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#search-button,
#cart-button,
#connexion-button {
  margin: 5px;
}

#search-button {
  position: relative;
  width: 40px;
  height: 40px;
  padding-left: 5px;
  border-radius: 100px;
  background: #f90093;
  color: white;
  border: none;
}
#search-button svg {
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translateY(-50%) translateX(-50%);
}

#cart-button {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  border-radius: 100px;
  background: transparent;
  border: none;
  color: #040039;
}

#connexion-button {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #040039;
  color: white;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 100px;
}
#connexion-button span,
#connexion-button svg {
  margin: 4px;
}

#banner {
  position: relative;
}

#banner-button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateY(-50%);
  height: 60px;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f90093;
  color: white;
  border: none;
  border-radius: 100px;
}
#banner-button span {
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.sous-titre {
  padding: 68px;
  color: #b8b4ff;
  font-family: Massilia, sans-serif;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 66px;
}

#favoris {
  width: 100%;
  display: flex;
  background-color: #040039;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#favoris h2 {
  color: #b8b4ff;
}

#favs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 68px;
}

.vcard {
  margin: 0 30px;
  width: 350px;
  height: 500px;
  border-radius: 50px;
  border: none;
}
.vcard img {
  border-radius: 50px 50px 0 0;
  height: 220px;
  border: none;
}
.vcard h5 {
  color: #040039;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Massilia, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
}

.card-body {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.card-price {
  color: #040039;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Massilia, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-old-price {
  color: #b8b4ff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Massilia, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: line-through;
}

.card-description {
  color: #040039;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  height: 54px;
  width: 190px;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #040039;
  color: white;
  border: none;
  border-radius: 100px;
}

#offers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 68px 0;
  background-color: white;
}
#offers h2 {
  color: #040039;
}

.hcard {
  border-radius: 30px;
  border: 2px solid #adabc3;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 24px;
}
.hcard .hcard-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hcard .card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hcard .card-buttons button,
.hcard .card-buttons a {
  margin: 10px;
}
.hcard .toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #040039;
  border: 2px solid #040039;
  border-radius: 100px;
  width: 66px;
  height: 66px;
}
.hcard .details {
  border-radius: 100px;
  width: 128px;
  height: 66px;
  background-color: #f90093;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  border: 2px solid #f90093;
}
.hcard .details :visited {
  color: white;
}
.hcard .details :hover {
  background-color: white;
  color: #f90093;
}
.hcard .details :active {
  background-color: #f90093;
  color: white;
}
.hcard .collapse {
  width: 100%;
  padding: 0;
}
.hcard .collapse .card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 0;
  border: none;
}
.hcard .collapse .card-body .col1 {
  width: 30%;
}
.hcard .collapse .card-body .col2 {
  padding-left: 20px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.hcard .collapse .card-body .col2 div {
  width: 50%;
}
.hcard .collapse .card-body .col2 h6 {
  text-align: right;
}/*# sourceMappingURL=style.css.map */