$color-accent: #f90093;
$color-primary: #b8b4ff;
$color-secondary: #040039;
$color-neutral: #f2f1fa;

@font-face {
    font-family: "massilia";
    src: url("../fonts/massilia-Medium-BF65ea8038d5375.otf") format("opentype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

body,
#root,
#root > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-wrap: balance;
}

input {
    border-radius: 100px;
    border: none;
    background-color: $color-neutral;
}

#header {
    width: 100%;
    height: 10vh;
    min-height: 100px;
    display: flex;
    padding: 0 90px 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

#logo {
    width: 250px;
    height: 140px;
}

.nav-link {
    padding-top: 22px;
    color: var(--Moyen, #040039);
    font-feature-settings: "clig" off, "liga" off;
    font-family: massilia, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#search-button,
#cart-button,
#connexion-button {
    margin: 5px;
}

#search-button {
    position: relative;
    width: 40px;
    height: 40px;
    padding-left: 5px;
    border-radius: 100px;
    background: $color-accent;
    color: white;
    border: none;

    & svg {
        position: absolute;
        top: 50%;
        left: calc(50% + 2px);
        transform: translateY(-50%) translateX(-50%);
    }
}

#cart-button {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    border-radius: 100px;
    background: transparent;
    border: none;
    color: $color-secondary;
}

#connexion-button {
    padding: 0 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    color: white;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    &:visited {
        color: white;
    }
    &:hover {
        background-color: $color-accent;
    }

    & span,
    svg {
        margin: 4px;
    }
}

// banner

#banner {
    position: relative;
    width: 100%;
    height: 35vw;
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

#banner-button {
    position: absolute;
    bottom: max(calc(10vh - 30px), -10px);
    left: 50%;
    transform: translateY(-50%);
}

.standard-button {
    height: 50px;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-accent;
    color: white;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    &:visited {
        color: white;
    }
    &:hover {
        background-color: $color-primary;
    }

    & span {
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }
}

.sous-titre {
    padding: 68px;
    color: $color-primary;
    font-family: massilia, sans-serif;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
}

// favoris

#favoris {
    width: 100%;
    display: flex;
    background-color: $color-secondary;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2 {
        color: $color-primary;
    }
}

#favs-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 68px;
    row-gap: 60px;

    & .vcard {
        margin: 20px;
    }
}

.vcard {
    margin: 0 30px;
    width: 350px;
    height: 500px;
    border-radius: 50px;
    border: none;
    & img {
        border-radius: 50px 50px 0 0;
        height: 220px;
        border: none;
    }

    & h5 {
        color: $color-secondary;
        font-feature-settings: "clig" off, "liga" off;
        font-family: massilia, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 46px;
    }
}

.card-body {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.card-price {
    color: $color-secondary;
    font-feature-settings: "clig" off, "liga" off;
    font-family: massilia, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-old-price {
    color: $color-primary;
    font-feature-settings: "clig" off, "liga" off;
    font-family: massilia, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration-line: line-through;
}

.card-description {
    color: $color-secondary;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-button {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    height: 54px;
    width: 190px;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    color: white;
    border: none;
    border-radius: 100px;
}

#offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 68px 0;
    background-color: white;
    & h2 {
        color: $color-secondary;
    }

    .hcard {
        border-radius: 30px;
        border: 2px solid #adabc3;
        background: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin: 24px;

        & .hcard-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            justify-content: center;
            align-items: center;
        }
    }
    .card-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & button,
        a {
            margin: 10px;
        }

        & .toggle-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: $color-secondary;
            border: 2px solid $color-secondary;
            border-radius: 100px;

            width: 66px;
            height: 66px;
        }

        & .details {
            // html link no decoration
            border-radius: 100px;
            width: 128px;
            height: 66px;
            background-color: $color-accent;
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: Roboto, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            border: 2px solid $color-accent;

            & :visited {
                color: white;
            }
            & :hover {
                background-color: white;
                color: $color-accent;
            }

            & :active {
                background-color: $color-accent;
                color: white;
            }
        }
    }

    & .collapse {
        width: 100%;
        padding: 0;

        & .card-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: start;
            padding: 0;

            border: none;
            & .col1 {
                width: 30%;
            }
            & .col2 {
                padding-left: 20px;
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: start;
                & div {
                    width: 50%;
                }
                & h6 {
                    text-align: right;
                }
            }
        }
    }
}

#partners {
    width: 100%;
    display: flex;
    background-color: $color-primary;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .sous-titre {
        color: $color-secondary;
    }
    & #partners-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 68px;

        & img {
            object-fit: cover;
            margin: 20px;
            width: 30vw;
            max-width: 600px;
            min-width: 300px;
            height: 30vw;
            max-height: 600px;
            min-height: 300px;
            border-radius: 30px;
        }
    }
}

#footer {
    width: 100%;
    background-color: $color-secondary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & h5 {
        color: $color-primary;
        font-feature-settings: "clig" off, "liga" off;
        font-family: massilia, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 46px;
    }

    & .first-col {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        & form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        & input {
            width: 300px;
            height: 54px;
            margin: 10px;
            padding: 10px 16px;
            border-radius: 100px;
            border: none;
        }
        & button {
            width: 116px;
            height: 54px;
            padding: 10px 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            border: none;
            border-radius: 100px;
        }
    }

    & .second-col,
    .third-col {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        & ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            list-style-type: none;
            text-decoration-line: underline;

            & a:visited {
                color: white;
            }
            & a:hover {
                color: $color-accent;
            }
        }
        padding-top: 60px;
    }

    & .logo {
        width: 314px;
        height: 142px;
        margin-right: 0px;
    }

    & p,
    form {
        margin-right: 0px;
    }

    & p {
        margin-right: 20px;
    }
}

// media query for pc

@media (min-width: 1024px) {
    #footer {
        width: 100%;
        background-color: $color-secondary;
        color: white;
        & .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }

        & h5 {
            color: $color-primary;
            font-feature-settings: "clig" off, "liga" off;
            font-family: massilia;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: 46px;
        }
        & .first-col {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: flex-end;
            padding: 20px;
            & form {
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: flex-end;
            }
            & input {
                width: 400px;
                height: 54px;
                margin: 10px;
                padding: 10px 16px;
                border-radius: 100px;
                border: none;
            }
            & button {
                width: 116px;
                height: 54px;
                padding: 10px 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: black;
                color: white;
                border: none;
                border-radius: 100px;
            }
        }
        & .second-col {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: flex-start;
            padding: 20px;
            & ul {
                font-feature-settings: "clig" off, "liga" off;
                font-family: Roboto, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                list-style-type: none;
                text-decoration-line: underline;

                & a:visited {
                    color: white;
                }
                & a:hover {
                    color: $color-accent;
                }
            }
        }
        & .second-col,
        .third-col {
            padding-top: 60px;
        }
        & .logo {
            width: 314px;
            height: 142px;
            margin-right: 120px;
        }
        & p,
        form {
            margin-right: 40px;
        }
        & p {
            margin-right: 190px;
        }
    }
}

// page Login
#login {
    width: 100%;
}
.bandeau {
    width: 100%;
    min-height: 160px;
    padding: 20px 10px;
    background-color: $color-primary;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-secondary;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: massilia;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 46px;

    & p {
        max-width: min(630px, 90vw);
        color: $color-secondary;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
    }
}

.square-zone {
    width: 550px;
    height: 350px;
    max-width: 90vw;
    border: 2px solid $color-neutral;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: $color-secondary;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    &#login-zone {
        padding-top: 40px;
        padding-bottom: 35px;
        & .form-zone {
            padding: 30px 0 0 0;
            &.larger {
                padding-bottom: 30px;
            }
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            margin: 10px 0;

            & input {
                width: 400px;
                height: 42px;
                border-radius: 100px;
                background-color: $color-neutral;
                padding: 10px 16px;
                border-radius: 100px;
                border: none;
            }

            & label {
                position: absolute;
                top: 0;
                left: 0;
            }

            & a {
                position: absolute;
                bottom: 0;
                right: 0;
                color: #b8b4ff;
            }
        }
        & button {
            width: 197px;
        }
    }
    & h2 {
        color: $color-secondary;
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: massilia;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 46px;
    }
}

#liste {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & .item-card {
        width: 100%;
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        row-gap: 20px;

        & > div {
            margin: 0 10px;
        }

        & input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            display: flex;
            align-content: center;
            justify-content: center;
            font-size: 2rem;
            padding: 0.1rem;
            border: 0.25rem solid $color-accent;
            border-radius: 0.5rem;
            background-color: $color-accent;
        }

        & input[type="checkbox"]::before {
            content: "";
            width: 1.4rem;
            height: 1.4rem;
            clip-path: polygon(
                28% 38%,
                41% 53%,
                75% 24%,
                86% 38%,
                40% 78%,
                15% 50%
            );
            transform: scale(0);
            background-color: white;
        }

        & input[type="checkbox"]:checked::before {
            transform: scale(1);
        }

        & input[type="checkbox"]:hover {
            color: $color-secondary;
        }

        & img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        & .item-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 15px 25px;
        }

        & .item-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 15px 20px;
        }

        & .item-name {
            color: $color-secondary;
            font-feature-settings: "clig" off, "liga" off;
            font-family: massilia;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    }
}

#tutorial {
    width: 100%;
}

.itemCard,
.step {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
        color: $color-secondary;
        font-feature-settings: "clig" off, "liga" off;
        font-family: massilia;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 46px;
    }

    p {
        color: $color-secondary;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    iframe {
        max-width: min(630px, 90vw);
        width: 100%;
        height: 500px;
        border: 3px solid $color-secondary;
        border-radius: 20px;
    }
}

#submit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    & form {
        width: 100%;
        max-width: min(530px, 80vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        & input {
            width: 100%;
            height: 54px;
            margin: 10px;
            padding: 10px 16px;
        }

        & textarea {
            width: 100%;
            height: 200px;
            margin: 10px;
            padding: 10px 16px;
            border-radius: 20px;
            border: none;
            background-color: $color-neutral;
        }

        & label {
            align-self: flex-start;
            padding-left: 30px;

            color: $color-secondary;
            font-feature-settings: "clig" off, "liga" off;
            font-family: massilia;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 28px;
        }

        & .error {
            color: red;
        }
    }
}
